header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 50%;
    background: antiquewhite;
    align-items: center;
    border-radius: 1em;
    a{
      height: 33px;
      h3{
        height: 23px;
        align-self: center;
      }
    }
   
    .a {
    //  width: 4em;
    }
    .b{
      width: 14em;
      display: flex;
      justify-content: space-around;
    }
    .nav{
      display: flex;
      justify-content: space-around;
      width: 100%;
      text-align: center;
      height: 100px;
    }
  }
  .baniere{
    width: 85%;
    border-radius: 0.5em;
    
    img{
      width: 100%;
      border-radius: 0.5em;
      
    }
  }
  .nav-menu{
    width: 100%;
    a{
      display: flex;
      align-items: center;
    }
  }
}
.header-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 750px){
  .baniere{
    height: 200px;
    img{
      height: 100%;
      object-fit: cover;
    }
  }
  .nav-menu{
    width: 50% !important;
  }
 
}
@media only screen and (max-width: 750px){
  .d{
    display: none;
    
  }
  .b{
    width: 4em;
  }
}
