@font-face {
  font-family:"Chunkfive";
  src: url(./ressources/Font-family/chunkfive/Chunk.ttf);
}
@font-face { 
  font-family:"ALexBrush";
  src: url(./ressources/Font-family/AlexBrush-Regular.ttf) format("truetype");
  font-weight: bolder;
}
@font-face {
  font-family:"AlegreyaSans";
  src: url(./ressources/Font-family/AlegreyaSans-Regular.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
};


body {
  min-width: 320px;
  background: rgb(255, 255, 240);
  margin: 0;
  font-family: "AlexBrush";
  a {
    text-decoration: none;
    color: black;
    border-radius: 0.5em;
display: flex;
    text-align: center;
    align-items: center;

    &:hover {
      background: #d6d3d3;
      transform: scale(1.25);
      -webkit-animation: background 5s ease-in-out, transform 6s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
* {
  margin: 0;
  padding: 0;
}
.load-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  background-image: linear-gradient(#ece5c6 40%, #f6e095 60%);
  width: 100%;
  height: 100%;
  animation: onandoff 3s linear forwards;
  pointer-events: none;
  .title-load {
    font-size: xx-large;
    padding-bottom: 10px;
    text-align: center;
  }
  .load {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border: 4px solid #181818;
    border-radius: 100%;
    animation: bloc 3s;
    -moz-animation: bloc 3s;
    -webkit-animation: bloc 3s;
    -o-animation: bloc 3s;
  }
}
h3{
  display: flex;
  flex-direction: column;
}
input{
  text-align: center;
}
label{
display: flex;
flex-direction: column;
text-align: center;
}
h1{
  font-family:"Chunkfive";
}
p{
  font-family:"AlegreyaSans";
}
