@font-face {
  font-family: "AlegreyaSans";
  src: url(ressources/Font-family/AlegreyaSans-Regular.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  min-width: 320px;
  background: rgb(255, 255, 240);
  margin: 0;
  font-family:"AlegreyaSans"  ;
 a{
   text-decoration: none;
 }
}
*{
 margin: 0;
padding: 0;
}

