@media only screen and (max-width: 550px) {
  .contact {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
    form {
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      textarea {
        height: 100px;
        width: 250px;
      }
    }
  }
}
@media only screen and (min-width: 551px) and( max-width:1000px) {
  .contact {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    height: 500px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      p {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      }
    }
    .hourly {
      width: 45%;
      display: flex;
      justify-content: center;
    }
    form {
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

@media only screen and (min-width: 1001px) {
  .contact {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    .information {
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: flex-start;
      .adress {
        flex-direction: column;
        justify-items: center;
      }
    }
    div {
      display: flex;
      // flex-direction: column;
      align-items: center;
      // min-height: 217px;
      margin: 5px;
      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
    .form {
      flex-direction: column;
      display: flex;
      justify-content: space-around;
      align-self: center;
      form {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
       flex-direction: column;
        .div-form {
          display: flex;
          flex-direction: column;
          label {
            display: flex;
            flex-direction: column;
            text-align: center;
          }
        }
        input{
          text-align: center;
        }
      }
      .bloc-text{
        // height: 50px;
      }
    }
  }
}
