@media only screen and (max-width: 520px){
.Menu{
  height: 1700px;
  display: flex;
  flex-direction: column;
  h2{
    text-align: center;
  }
  .all-card{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: fadein 2.5s;
    -moz-animation: fadein 2.5s;
    -webkit-animation: fadein 2.5s;
    -o-animation: fadein 2.5s;
    .card{
      display: flex;
      margin: 10px;
     background: rgb(214, 211, 211);
     border-radius: 0.5em;
     img{
       border-radius: 0.5em 0 0 0.5em;
       width: 50%;
     }
     .information-card{
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 5px;
       justify-content: center;
     }
    }
  }
}}
@media only screen and (min-width: 521px){
  
.Menu{
  display: flex;
  flex-direction: column;
  h2{
    margin: 15px;
    text-align: center;
  }
  .all-card{
    display: flex;
    justify-content: space-around;
    .card{
      display: flex;
      height: 200px;
      flex-direction: column;
      width: 30%;
      background: rgb(214, 211, 211);
      border-radius: 0.5em;
     
      img{
        height: 70%;
        width: 100%;
        border-radius: 0.5em 0.5em 0 0;
        object-fit: cover;
      }
      .information-card{
        display: flex;
    flex-direction: column;
    align-items: center;
    .description-entree{
      text-align: center;
    }
      }
    }
  }
}

}
.all-card{
  animation: fadein 2.5s;
    -moz-animation: fadein 2.5s;
    -webkit-animation: fadein 2.5s;
    -o-animation: fadein 2.5s;
}
.d{
  color: blue;
  height: 0.5em;
  width: 3em;
 &:hover {
   background: whitesmoke;
 }
} 
.b {
height: 0.2em;
}